#container{
  width: 900px;height: 600px;border: 3px solid #333;overflow: hidden;position:relative;margin:0 auto;
}
#list{
  width: 6300px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: -900px;
  <style>
  margin:0 auto;
}
#list img{
  float: left;
}
.Carouselfigure{
  width: 900px;
  height: 600px;
}
#buttons{
  position: absolute; height: 10px; width: 100px; z-index: 2;bottom: 20px; left: 400px;
}
#buttons span{
  cursor: pointer;float: left;border: 1px solid #fff;width: 10px;height: 10px;border-radius: 50%;background: #333;margin-right: 5px;
}
#buttons .on{
  background: orangered;
}
.arrow{
  cursor: pointer;display: none;line-height: 39px;text-align: center;font-size: 36px;font-weight: bold;
  width: 40px;height: 40px;position: absolute;z-index: 2;top: 280px;background-color: rgba(0,0,0,.3);color: #fff;
}
.arrow:hover{background-color: RGBA(0,0,0,.7);
}
#container:hover .arrow{display:block;}
#prev{left: 20px;}
#next{right: 20px;}
#second{
    width: 900px;height: 300px;margin:0 auto;
    font-size: 10px;
    display: flex;
    align-items:center;
}
.SL{
  height: 300px;
}
#secondRight{
  height: 200px;}
.secondButton{
  width: 140px;
  height: 40px;
  background-color:red;
  color:white;
}
#third{
  background-color: rgba(60, 10, 0, 0.1);
  width: 900px;height: 300px;
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#thirdTop{
  width: 900px;
  height: 100px;
text-align: center;
}
#thirdBottom{
  display: flex;
  flex-direction:row;
 justify-content:center;
}
.thirdBottom1{
  height: 160px;
  width: 160px;
  margin-left: 10px;
}
.thirdBottom2{
  height: 160px;
  width: 160px;
  margin-left: 10px;
}
.thirdBottom3{
  height: 160px;
  width: 160px;
  margin-left: 10px;
}
.thirdBottom4{
  height: 160px;
  width: 160px;
  margin-left: 10px;
}
#fourth{
  background: url(tb1.jpg);
  width: 900px;height: 500px;margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fourthRight{
  margin-left: 10px;
}
#fifth{
  width: 900px;height: 500px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}
#fifthTop1{
  width: 900px;height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fifthTop2{
  width: 900px;height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fifthBottom{
  width: 700px;height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.fifthBottom{
  margin-left: 10px;
  margin-bottom: 10px;
}
